# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de entorno
.env

# Base de datos
data/*.db

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/

# Build
dist/
build/
*.egg-info/
